<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.picodiploma.SkinMate">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_skinmate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_skinmate"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginWithAnimation">
        <activity
            android:name=".view.ui.activity.splashscreen.SplashActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".view.ui.activity.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.activity.main.MainActivity"
            android:exported="false"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>